{% extends "base.html" %}

{% block content %}
<h1>Cache Item {{ item.id }}</h1>

<p>
  <a class="btn btn-danger" href="{{servlet-context}}/cache/{{ item.id }}/delete">Delete</a>
</p>

<table class="table table-striped table-bordered">
  <tbody>
    <tr>
      <td>Key</td>
      <td>{{ item.key }}</td>
    </tr>
    <tr>
      <td>Created</td>
      <td>
        {{ item.created_at|date:shortDateTime }}
      </td>
    </tr>
    <tr>
      <td>Expires</td>
      <td>
        {{ item.expires_at|date:shortDateTime }}
      </td>
    </tr>
    <tr>
      <td>Content</td>
      <td style="font-family: monospace">
        {{ item.content|safe }}
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
