{% extends "base.html" %}

{% block content %}
<h1>Movies Playing Now</h1>

<p>Showing {{ movies|count }} movies</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>About</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  {% for movie in movies %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>
        <b>{{ movie.title }}</b>
        <br>
        {{ movie.releaseYear }}
      </td>
      <td>
        <b>Directed by:</b> {{ movie.directors|join:", " }}
        <br>
        <b>Cast:</b> {{ movie.topCast|join:", " }}
      </td>
      <td>{{ movie.longDescription }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
